@import 'mixin';
@import 'variables';

.toggle-button{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5%;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  // @include border;
}

.bar{
  width: 100%;
  height: 3px;
  background-color: $toggle-button;
}