@import 'hamburger';
@import 'variables';
@import 'mixin';

.container {
  padding: 0 5%;
  // @include border;
}

.navbar {
  padding: 2.5rem 5%;
  width: 100%;
  @include flex;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  z-index: 1000;
}

.navbar.sticky{
  padding: 1.5rem 5%;
  background-color: $dark-gray;
}

.nav-links{
  ul{
    li.sticky{
      border-bottom: 1px solid white;
    }
  }
}

.brand-title {
  position: relative;
  min-width: 10%;
  &:hover{
    cursor: pointer;
  }
  img{
    width: 100%;
  }
}

.nav-links {
  position: relative;
  ul{
    position: relative;
    display: flex;
    li{
      position: relative;
      list-style: none;
      a{
        position: relative;
        padding: 0 3.75rem;
        display: inline-block;
        color: $gray;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        &:hover{
          text-decoration: underline;
        }
      }
      &:last-child a{
        padding-right: 0;
      }
    }
  }
}