@import 'hamburger';
@import 'variables';
@import 'mixin';

.container {
  padding: 0 5%;
  // @include border;
}

.navbar {
  padding: 2.5rem 0;
  width: 100%;
  @include flex;
}

.brand-title {
  min-width: 10%;
  &:hover{
    cursor: pointer;
  }
  img{
    width: 100%;
  }
}

.nav-links {
  ul{
    display: flex;
    li{
      list-style: none;
      a{
        padding: 0 3.75rem;
        display: inline-block;
        color: $gray;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        &:hover{
          text-decoration: underline;
        }
      }
      &:last-child a{
        padding-right: 0;
      }
    }
  }
}