@import 'variables';
@import 'mixin';

.load-more {
  padding-bottom: 3.75rem;
  // @include border;
}

.container-3 {
  .button-2{
    padding: 1.2rem 2.2rem;
    border: 1px solid $dark-black;
    background-color: transparent;
    @include playfair;
    font-size: 1.4rem;
    transition: all .3s ease 0;
    &:hover{
      color: #fff;
      background-color: $gray;
      cursor: pointer;
    }
  }
}