@import "variables";

@mixin playfair() {
  font-family: $playfair;
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
}

@mixin ubuntu {
  font-family: $ubuntu;
  font-size: 0.9rem;
  font-weight: 300;
  color: $light-gray;
}

@mixin border {
  border: 1px solid salmon;
}

@mixin flex($direction: space-between) {
  display: flex;
  align-items: center;
  justify-content: $direction;
}

@mixin  padding {
  padding-top: 1.9rem;
}

// responsive functions 

@mixin tablet {
  @media only screen and (max-width:990px) {

    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links{
      width: 100%;
      display: none;
      ul{
        padding: .5rem 0;
        width: 100%;
        flex-direction: column;
        li{
          margin: .1rem 0;
          width: 100%;
          text-align: center;
          background-color: $dark-gray;
          a{
            padding: .5rem 1rem;
          }
          &:last-child a{
            padding: .5rem 1rem;
          }
        }
      }
    }
    .toggle-button{
      display: flex;
    }
  
    .nav-links.active{
      display: flex;
    }
  
  }
}