@import "variables";

@mixin playfair() {
  font-family: $playfair;
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
}

@mixin ubuntu {
  font-family: $ubuntu;
  font-size: 0.9rem;
  font-weight: 300;
  color: $light-gray;
}

@mixin border {
  border: 1px solid salmon;
}

@mixin flex($direction: space-between) {
  display: flex;
  align-items: center;
  justify-content: $direction;
}

@mixin  padding {
  padding-top: 1.9rem;
}