@import 'variables';
@import 'mixin';

.newsletter {
  padding: 5rem 0;
  background-color: $dark-gray;
}

.newsletter-content, 
.container-3 {
  @include flex(center);
  flex-direction: column;
}

.newsletter-title {
  h2{
    padding-bottom: 1.9rem;
    color: $dark-black;
  }
}

.signup-form {
  padding-top: 1.9rem;
  // @include flex;
  text-align: center;
  position: relative;
  input{
    padding: 0.8rem 11.25rem 0.8rem 0;
    width: 90%;
    background-color: transparent;
    color: $dark-black;
    @include playfair;
    border: none;
    border-bottom: 1px solid $gray;
    &:focus{
      outline: none;
    }
  }
}

.button {
  position: absolute;
  top: 48px;
  right: 38px;
  background-color: transparent;
  border: none;
  img{
    min-width: 100%;
  }
  &:focus{
    outline: none;
  }
}