@import 'mixin';
@import 'variables';

// sections 
@import 'header';
@import 'banner';
@import 'gateaway';
@import 'blog-1';
@import 'blog-2';
@import 'newsletter';
@import 'load-more';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  @include playfair;
}